
.body{
    background-image: url(../Curriculo_Otavio/img/pexels-pixabay-315791.jpg);
    background-size: cover;
}
.table{
    border: blanchedalmond solid 4px;
    margin: 55px auto;
    width: 45% ;
    border-radius: 45px 0px 45px 0px;
    background-color: rgba(22, 22, 22, 0.5);
    padding:10px;
    border-collapse:separate; 
    border-spacing: 0 1em;
}
.curriculo{
    font-family:Arial, Helvetica, sans-serif;   
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(253, 249, 246);
    text-align: center;
    text-shadow: 9px 9px 2px black  ;
    padding: 10px 0;
}
.dados{
    color: rgb(247, 242, 242);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;   
    text-align: center;
    text-shadow: 4px 4px 3px rgb(20, 20, 20);
}
.buttons input{
    margin: 20px 10px;
}
.interessou {
    font-size: 15px;
    color: white;
    background-color: green;
    width: 110px;
    border-radius: 10px 0px 10px 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.cadastro{
    color: rgb(255, 246, 246);
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;   
    text-align: right;
    text-shadow: 4px 4px 3px black;
}
input{
    margin:20px 10px;
}
.linha{
    padding-top: 10px;
}
.salvar{
    font-size: 15px;
    color: white;
    background-color: forestgreen;
    width: 110px;
    border-radius: 10px 0px 10px 0px;
    padding-bottom: 10px;
    padding-top: 10px;    
}
